
	<h1>Halaman About</h1>
	<div class="row">
		<div class="col text-center">
			<img src="img/profil.jpeg" alt="" class="img-thumbnail">
			<div class="display-4">Agung Wdidiyanto</div>
			<div class="lead">Student</div>
		</div>
	</div>
